BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
IndentCaseLabels: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInCStyleCast: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
ReflowComments: true
SortIncludes: true
